<a href="https://colab.research.google.com/github/vakilarora/python/blob/main/DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#loop
for num in range(10,30,2):
  print(num, end = '\t')

10	12	14	16	18	20	22	24	26	28

In [7]:
#list
my_list = ['Delhi','Mumbai','Bangalore','Chennai','Hyderabad']
for city in my_list:
  print(f'{city}',end=' ')

Delhi Mumbai Bangalore Chennai Hyderabad

In [22]:
#tuple - tuples are non editable
my_tuple = ('c','c++','java','python','js','ruby')
for pl in my_tuple:
  print(pl,end='|')
print('')

for index in range(6):
  print(my_tuple[index],end='  ')

print('')
my_slice=my_tuple[2:]
print('slice: ',my_slice)

print('Tuple: ',my_tuple)
print('Reverse: ',my_tuple[::-1])

c|c++|java|python|js|ruby|
c  c++  java  python  js  ruby
slice:  ('java', 'python', 'js', 'ruby')
Tuple:  ('c', 'c++', 'java', 'python', 'js', 'ruby')
Reverse:  ('ruby', 'js', 'python', 'java', 'c++', 'c')

In [15]:
#set - can store unique entries, ordering is not guaranteed
my_set = {'numpy','pandas','metplotlib','scikit-learn','keras','tensorflow','pandas','Pandas'}

print(my_set)

{'scikit-learn', 'numpy', 'tensorflow', 'metplotlib', 'Pandas', 'pandas', 'keras'}

In [17]:
#dictionary - stores key-value pairs. Items can be addressed by key

my_dict={1:'One',2:'Two',3:'Three',4:'Four',5:'Five'}
number = '12543'
for num in number:
  print(my_dict[int(num)],end=' ')

One Two Five Four Three