<a href="https://colab.research.google.com/github/vakilarora/python/blob/main/DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#loop
for num in range(10,30,2):
  print(num, end = '\t')

10	12	14	16	18	20	22	24	26	28

In [11]:
#lists
my_list = ['Delhi','Mumbai','Bangalore','Chennai','Hyderabad']
for city in my_list:
  print(f'{city}',end=' ')

Delhi Mumbai Bangalore Chennai Hyderabad

In [13]:
#List of Lists
twoD_list = [[1,2,3],[4,5,6],[7,8,9]]

print(twoD_list)

print('twoD_list[1][2] = ',twoD_list[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
twoD_list[1][2] =  6

In [14]:
#set - can store unique entries, ordering is not guaranteed
my_set = {'numpy','pandas','metplotlib','scikit-learn','keras','tensorflow','pandas','Pandas'}

print(my_set)

{'scikit-learn', 'numpy', 'keras', 'tensorflow', 'pandas', 'Pandas', 'metplotlib'}

In [15]:
#dictionary - stores key-value pairs. Items can be addressed by key

my_dict={1:'One',2:'Two',3:'Three',4:'Four',5:'Five'}
number = '12543'
for num in number:
  print(my_dict[int(num)],end=' ')

One Two Five Four Three

In [16]:
#tuple - tuples are non editable
my_tuple = ('c','c++','java','python','js','ruby')
for pl in my_tuple:
  print(pl,end='|')

c|c++|java|python|js|ruby|

In [17]:
#Indexing
for index in range(6):
  print(my_tuple[index],end='  ')

c  c++  java  python  js  ruby

In [18]:
#Slicing

print('')
my_slice=my_tuple[2:]
print('slice: ',my_slice)

slice:  ('java', 'python', 'js', 'ruby')

In [19]:
#Reversing
print('Tuple: ',my_tuple)
print('Reverse: ',my_tuple[::-1])

Tuple:  ('c', 'c++', 'java', 'python', 'js', 'ruby')
Reverse:  ('ruby', 'js', 'python', 'java', 'c++', 'c')

In [23]:
#Selecting alternate elements
new_list = list(range(1,20))
print(new_list)
new_slice = new_list[::2]
print(new_slice)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]